:root {
    --fgcolor: #3f3f3f;
    --bgcolor: #ffffff;
    --color75: #7a7a7a;
    --color20: #d1d1d1;
    --color10: #e8e8e8;
    --font: 'Mona Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
    font-size: 16px;
    font-family: var(--font);
    line-height: normal;
    background-color: var(--bgcolor);
    color: var(--fgcolor);
}

#controls button {
    border-radius: 8px;
    border: 1px solid var(--color75);
    padding: 0.5em 1em;
    margin: 0 0.5em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--bgcolor);
    user-select: none;
}

#controls button:hover {
    border: 1px solid var(--fgcolor);
    background-color: var(--color20);
}

#controls button:focus,
#controls button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#svgbox {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
}

#controls {
    text-align: center;
    user-select: none;
}